*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://images.unsplash.com/photo-1579547944212-c4f4961a8dd8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MjB8fHxlbnwwfHx8fHw%3D&w=1000&q=80);
    background-size: cover;
    background-position: center;
    padding-top: 40px;
}

.name{
    margin-bottom: 30px;
    text-align: center;
    color: #fff;
}

.main-form{
    background-color: rgba(81,0,255,0.274);
    color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
    width: 70%;
    margin: 0 auto;
}

.btn{
    margin: 0 auto;
}